[submodule "infra"]
	path = infra
	url = https://github.com/forhand/infra.git
[submodule "user-service"]
	path = user-service
	url = https://github.com/forhand/user-service.git
[submodule "post-service"]
	path = post-service
	url = https://github.com/forhand/post-service.git
[submodule "notification-service"]
	path = notification-service
	url = https://github.com/forhand/notification-service.git
[submodule "analytic-service"]
	path = analytic-service
	url = https://github.com/forhand/analytic-service.git
